<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button (click)="goBack()">
              <ion-icon name="md-arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Partagez une publication</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="content" placeholder="Exprimer Vous" clearInput></ion-input>
  </ion-item>

  <ion-row *ngIf="captureDataUrl">
    <ion-slides zoom="true" pager>
      <ion-slide *ngFor="let img of captureDataUrl">
        <img src="{{img}}">
      </ion-slide>
    </ion-slides>
  </ion-row>

  <button ion-button block [disabled]="!verifChamps(content)" (click)="publier()">
    publier
  </button>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title (click)="openAction()" >Enrichisser votre publication</ion-title>
    </ion-toolbar>
</ion-footer>
