page-first-connection {
    .card{
        margin-top: 10%;
    }
    .card-content{
        text-align: center;
    }
    .avatar{
        margin: auto;
        border-radius: 50%;
        width: 70%;
        height: 70%;
    }
}
