<ion-header>
    <ion-navbar>
          <button ion-button icon-only menuToggle  >
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title> Poster une annonce</ion-title>
    </ion-navbar> 
  </ion-header>

<ion-content>

    <ion-card class="aide" (click)="goToA3()" color="#C3CCB2" >
        <ion-grid>
            <ion-row>
              <ion-col >
                <ion-label >Besoin d'aide</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>


    <ion-card class="foyer" (click)="goToA2()" color="#4D898F">
        <ion-grid>
            <ion-row>
              <ion-col >
                <ion-label >Cherchant un foyer</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>


    <ion-card *ngIf="reputation > 29" class="blessure" (click)="goToA1()" color="#BF983E">
        <ion-grid>
            <ion-row>
              <ion-col >
                <ion-label >Blessure ou Maladie</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>


    <ion-card *ngIf="reputation > 29" class="danger" (click)="goToA0()" color="#9B5337">
        <ion-grid>
            <ion-row>
              <ion-col >
                <ion-label >En Danger</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid> 
    </ion-card>


    <ion-card class="autre" (click)="goToAutre()" color="#333537">
        <ion-grid>
            <ion-row>
              <ion-col >
                <ion-label >Autre</ion-label>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>

  <!--<button ion-button (click)="getImage()">getImage</button>-->


</ion-content>