
<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button (click)="goBack()">
              Retour
          </button>
      </ion-buttons>
      <ion-title> {{friendUser.displayName}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding>

  <div id="chatMessages">
    <div *ngFor="let message of discussion">
      <div [class]="message.senderId == currentUserId ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
        <div class="username">{{ message.senderId}}</div>
        <div class="messageContent">{{ message.content }}</div>
        <div *ngIf="message.attachement"><img style="width: 100px; height: 100px;" src="{{message.attachement}}" > </div>
      </div>
    </div>
  </div>

</ion-content> -->

<ion-content>

  <div class="message-wrap">

    <div *ngFor="let message of discussion"
        class="message"
        [class.left]=" message.senderId != currentUserId "
        [class.right]=" message.senderId === currentUserId ">
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{message.content}}</p>
          <img *ngIf="message.attachement" style="width: 100px; height: 100px;" src="{{message.attachement}}" >
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">
      <div class="elem"><ion-input type="text" [(ngModel)]="message"></ion-input>
        
        

      </div>
      
      <div class="elem">
        <button ion-button icon-only (click)="capture(1)" id="button-color" clear>  
          <ion-icon name="ios-camera-outline"></ion-icon>
        </button>
      </div>

      <div class="elem">
        <button id="button-color" ion-button icon-only (click)="sendMessage()" clear [disabled]="!verifChamps(message) && !imageMessage">
          <ion-icon name="send"></ion-icon> 
        </button>
      </div>
    </div>

    <ion-thumbnail *ngIf="imageMessage">
      <img style="width: 100px; height: 100px;" src="{{imageMessage}}">
    </ion-thumbnail>

  </ion-toolbar>
</ion-footer>
